.button-darkbg {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;

  padding: 14px;
  border-radius: 3px;
  background-color: #ff0000;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: 0.15s;
  width: 100%;
  display: block;
}

.button-darkbg:hover {
  transition: 0.2s;
  color: #050505;
  background-color: #ffffff;
}
