.nav-item {
  display: inline-block;
}

.nav-item > a {
  padding: 18px;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  border-right: 1px solid #dddddd;
  transition: 0.15s;
  display: block;
  text-transform: uppercase;
  color: #050505;
}

.nav-item > a:hover {
  color: #ffffff;
  background-color: #050505;
  transition: 0.2s;
}
