.link-default {
  color: #ff0000;
  font-size: 16px;
  font-weight: normal;
  transition: 0.15s;
  cursor: pointer;
  text-decoration: none;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.link-default:hover {
  transition: 0.2s;
  color: #050505;
}
